<template name="footer">

{{!-- Make these open in as overlays --}}
        <ul>
            <li>
                <a title="Beer me, plzzz!" href="/donate">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </a>
            </li>
            <li>
                <a title="Contact a mufucka" href="/contact">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </li>
            <li>
                <a title="Fuck me on Facebook" href="http://facebook.com/whatuhatin">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
            </li>
            <li>
                <a title="Follow my shit then retweet it" href="http://twitter.com/whatuhatin">
                    <span class="glyphicon glyphicon-retweet"></span>
                </a>
            </li>
            <li>
                <a title="Watch our traffic stats" href="/sitelog">
                    <span class="glyphicon glyphicon-stats"></span>
                </a>
            </li>
            <li>
                <a title="Search this bitch" href="/search">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </li>
            <li>
                <a title="Get some fucking help" href="/help">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </li>
        </ul>
</template>
