html, body {
    background-color: #500;
}
a {
    color: gold;
}
#site-meta {
    background-color: #333;
    margin: .5em auto;
    max-width: 720px;
}
#site-logo {
    float: left;
}
#login-buttons {
    float: right;
}
#search-container {
    display: none;
    float: right;
}
#site {
    background-color: #dde;
    clear: both;
    margin: 1em auto;
    max-width: 720px;
}
#new-post-container {
    background-color: #baa;
    border: 1px solid grey;
}
#content-container {
    width: 100%;
}
#new-post-rollover-minus,
#new-post-rollover-plus {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}
#new-post-rollover-minus {
    background-color: lightgreen;
    display: none;
}
#new-post-form {
    display: none;
}
#new-post-form fieldset {
    margin: .5em auto;
    width: 80%;
}
#new-post-form label {
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
}
#new-post-form a {
}
#new-post-form input[type="text"] {
    clear: both;
    display: block;
    margin-bottom: .1em;
    width: 100%;
}
#new-post-form textarea {
    clear: both;
    display: block;
    height: 10em;
    margin-bottom: .1em;
    width: 100%;
}
#new-post-anonymous-container {
    text-align: right;
}
#new-post-anonymous-label {
    display: inline;
}
#new-post-anonymous {
    font-size: .8em;
}
#new-post-form input[type="checkbox"] {
    bottom: .25em;
    position: relative;
}
#posts-container {
    padding-bottom: 1em; 
}
#site-footer {
    background-color: #400;
    border-top: 1px solid #bbb;
    font-size: .9em;
    font-weight: bold;
    height: 2em;
    text-align: center;
}
#site-footer a {
    color: #dde;
}
#site-footer ul,
.post-social ul {
    list-style: none;
    margin: .2em auto;
    width: 80%;
}
#site-footer li,
.post-social li {
    display: inline;
    margin: .2em 1em;
}
.post-container {
    background-color: #baa;
    border: 1px solid black;
    margin: 1em auto;
    width: 80%;
}
.post-meta {
    height: 1.8em
}
.post-stamp {
    float: left;
    font-size: .8em;
    margin: .25em 1em; 
    position: relative;
    top: -.1em;
}
.post-flag {
    display: none;
    float: right;
    font-size: 1em;
    margin: .25em 1em; 
    position: relative;
    top: -.2em;
}
.post {
    clear: both;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 2em 1em 2em; 
}
.post-target {
    color: yellow;
    font-style: italic;
}
.post-reason {
    color: yellow;
    font-style: italic;
}
.post-hates {
    font-size: .8em;
    margin: .25em 1em; 
}
.post-social {
    background-color: #877;
    font-weight: bold;
    font-size: .9em;
    height: 20px;
    text-align: center;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.note {
    clear: both;
    font-size: .8em;
    text-align: right;
}
.comments-container {
    background-color: #baa;
    display: none;
}
.comment-container {
    border-bottom: 1px solid #877;
}
.comment-contractor {
    display: none;
}
.comment-contractor,
.comment-expander {
    background-color: #766;
    font-weight: bold;
    font-size: .8em;
    height: 20px;
    padding-top: .2em;
    text-align: center;
}
.new-comment-rollover-minus,
.new-comment-rollover-plus {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    height: 20px;
    text-align: center;
}
.new-comment-rollover-minus {
    background-color: lightgreen;
    display: none;
}
.new-comment-form {
    background-color: #cbb;
    border-bottom: 1px solid #877;
    display: none;
}
.new-comment-form fieldset {
    margin: 0em auto;
    padding: .5em .25em;
    width: 80%;
}
.new-comment-form label {
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
}
.new-comment-form a {
}
.new-comment-form textarea {
    clear: both;
    display: block;
    font-size: .8em;
    height: 4;
    margin-bottom: .1em;
    width: 100%;
}
.new-comment-anonymous-container {
    text-align: right;
}
.new-comment-anonymous-label {
    display: inline;
}
.new-comment-anonymous {
    font-size: .8em;
}
.new-comment-form input[type="checkbox"] {
    bottom: .25em;
    position: relative;
}
.comment-flag {
    display: none;
}
.comment-flag-holder,
.comment-flag {
    float: right;
    font-size: 1em;
    height: 20px;
    margin: .25em 1em; 
}
.comment {
    clear: both;
    color: yellow;
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 2em 1em 2em; 
}
.comment-stamp {
    float: left;
    font-size: .8em;
    margin: .25em 1em; 
    position: relative;
    top: -.1em;
}
