.comments-container {
    background-color: #988;
    display: none;
}
.comment-container {
}
.comment-contractor {
    display: none;
}
.comment-contractor,
.comment-expander {
    background-color: #522;
    color: white;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 1.7em;
    padding-top: .1em;
    text-align: center;
    width: 5em;
}
.comment-contractor:hover,
.comment-expander:hover {
}
.comment-contractor span,
.comment-expander span {
}
.new-comment-rollover-minus,
.new-comment-rollover-plus {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    height: 20px;
    text-align: center;
}
.new-comment-rollover-minus span,
.new-comment-rollover-plus span {
    position: relative;
    top: -2px;
}
.new-comment-rollover-plus:hover {
    color: gold;
}
.new-comment-rollover-minus {
    background-color: green;
    display: none;
}
.new-comment-rollover-minus:hover {
    color: gold;
}
.new-comment-form {
    background-color: #cbb;
    border-bottom: 1px solid #877;
    display: none;
}
.new-comment-form fieldset {
    margin: 0em auto;
    padding: .5em .25em;
    width: 80%;
}
.new-comment-form label {
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
}
.new-comment-form a {
}
.new-comment-form textarea {
    clear: both;
    display: block;
    font-size: .8em;
    height: 4;
    margin-bottom: .1em;
    width: 100%;
}
.new-comment-anonymous-container {
    text-align: right;
}
.new-comment-anonymous-label {
    display: inline;
}
.new-comment-anonymous {
    font-size: .8em;
}
.new-comment-form input[type="checkbox"] {
    bottom: .25em;
    position: relative;
}
.comment-edit,
.comment-stamp {
    color: white;
    float: left;
    font-size: .8em;
    margin: .25em .4em; 
}
.comment-flag {
    display: none;
}
.comment-flag-holder,
.comment-flag {
    float: right;
    font-size: 1em;
    height: 20px;
    margin: .25em 1em; 
}
.comment {
    clear: both;
    color: yellow;
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 2em 1em 2em; 
}
.comment-hate {
    float: left;
    font-size: .8em;
    margin: .25em 1em; 
    position: relative;
    top: -.1em;
}
.comment-hate {
    border: 0 none;
    float: none;
}
.comment-hate button {
    background-color: #722;
    border: 0 none;
    cursor: pointer;
    height: 1.7em;
    float: left;
}
