<template name="post">
    <div class="post-container">
        <div class="post-flag-container">
            <div class="post-meta">
                <div class="post-stamp">
                    <a href="{{pathFor 'postPage'}}">
                        {{stamp}}
                    </a>
                </div>
                <div class="post-flag">
                    &times;
                </div>
            </div>
            <p class="post">
                {{username}} hates
                <span class="post-target">{{target}}</span> 
                because
                <span class="post-reason">{{reason}}</span> 
            </p>
            <p class="post-hates">
                <a href="#" title="Show haters">
                    X people hate this
                </a>
            </p>
        </div>
        <div class="post-social">
            <ul>
                <li>
                    <a href="#">Hate on it</a>
                </li>
                <li>
                    <a href="#">Like it</a>
                </li>
                <li>
                    <a href="#">Plus it</a>
                </li>
                <li>
                    <a href="#">Rag on it</a>
                </li>
                <li>
                    <a href="#">Tweet it</a>
                </li>
            </ul>
        </div>
        {{> comments}}
    </div>
</template>
