#new-post-container {
    background-color: #baa;
    border: 1px solid grey;
}
#new-post-rollover-minus,
#new-post-rollover-plus {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}
#new-post-rollover-plus:hover {
    color: gold;
}
#new-post-rollover-minus {
    background-color: green;
    display: none;
}
#new-post-rollover-minus:hover {
    color: gold;
}
#new-post-form {
    display: none;
}
#new-post-form fieldset {
    margin: .5em auto;
    width: 80%;
}
#new-post-form label {
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
}
#new-post-form a {
}
#new-post-form input[type="text"] {
    clear: both;
    display: block;
    margin-bottom: .1em;
    width: 100%;
}
#new-post-form textarea {
    clear: both;
    display: block;
    height: 10em;
    margin-bottom: .1em;
    width: 100%;
}
#new-post-anonymous-container {
    text-align: right;
}
#new-post-anonymous-label {
    display: inline;
}
#new-post-anonymous {
    font-size: .8em;
}
#new-post-form input[type="checkbox"] {
    bottom: .25em;
    position: relative;
}
#posts-container {
    padding-bottom: 1em; 
}
.post-container {
    background-color: #baa;
    border: 1px solid black;
    margin: 1em auto;
    width: 80%;
}
.post-meta {
    background-color: #877;
    height: 1.6em
}
.post-favorite,
.post-link,
.post-flag,
.post-edit,
.post-stamp {
    color: white;
    float: left;
    font-size: .8em;
    margin: .25em .4em; 
    position: relative;
    top: -.1em;
}
.post-flag {
    display: none;
    float: right;
    margin: .25em 1em; 
    position: relative;
    top: -.2em;
}
.post-edit:hover,
.post-favorite:hover,
.post-link:hover,
.post-flag:hover {
    color: gold;
}
.post {
    clear: both;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 2em 1em 2em; 
}
.post-target {
    color: yellow;
    font-style: italic;
}
.post-reason {
    color: yellow;
    font-style: italic;
}
.post-hates {
    font-size: .8em;
    margin: .25em 1em; 
}
.post-hates a,
.post-stamp a {
    color: white;
}
.post-social {
    background-color: #877;
    font-weight: bold;
    font-size: .9em;
    height: 1.7em;
}
#posts-load-more {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}
#posts-load-more:hover {
    color: gold;
}
#posts-load-more a {
    color: white;
}
.twitter-share-button,
.fb-like {
    clear: none;
    float: right;
    width: 150px;
}
.g-plusone {
    float: right;
    clear: none;
}
.post-share-hate button {
    background-color: #722;
    border: 0 none;
    cursor: pointer;
    height: 1.7em;
    float: left;
}
.share-dis,
.hate-on-it {
    color: white;
}
.share-dis:hover,
.hate-on-it:hover {
    color: gold;
}
.hate-on-it {
    width: 6em; 
}
.share-dis {
    position: relative;
    text-align: center;
    width: 4em; 
}
.show-rags {
    position: relative;
    right: .1em;
}
